<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Probability" value="0.03"/>
    <add key="ValidCharacters" value="ABCDEFGHIJKLMNÑOPQRSTUVWXYZ "/>
    <add key="TargetString" value="MVM INGENIERIA DE SOFTWARE"/>
    <add key="CopyRange" value="50"/>
  </appSettings>
</configuration>